<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="E-Banking_V1">

	<listeners>
		<listener class-name="eBanking.utilities.Reporting" />
	</listeners>


	<test name="Banking App Login">

		<parameter name="browser" value="chrome" />
		

		<classes>
			  <class name="eBanking.testCases.TC_LoginTest" /> 
			<class name="eBanking.testCases.TC_LoginDDT_001" />
			<!-- <class name="eBanking.testCases.TC_AddNewCustomer"/>-->
			<!-- <class name="eBanking.testCases.TC_LoginTest2_without_DDT"/> -->
		</classes>


	</test> <!-- Test -->
</suite> <!-- Suite -->
